.constractor-container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 3%;
}
.line{
    display: flex;
}
.MuiInputLabel-root{
    size: 50px;
}
.error {
    color: red;
    font-size: 12px;
    text-align: left;
}
