.main{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 97%;
}
.index{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.round{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgb(151, 149, 160);
    color: white;
}
.stage1{
    background-color:rgb(34, 131, 241);
}
.index-container{
    display: flex;
    align-items: center;
    width: 100%;
}
hr{
    width: 85%;
    height: 0;
}